@import 'tailwindcss';

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/archivo-variable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

@theme {
  --text-h1: 4.125rem;
  --text-h2: 2.5625rem;
  --text-h3: 1.625rem;
  --text-h4: 1.25rem;
  --font-sans: 'Archivo';
  --color-primary: #0a6fff;
  --color-dark: #000d1b;
  --color-darker: #010102;

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply text-balance leading-none font-semibold;
  }

  h1 {
    @apply font-bold text-h2 md:text-h1;
  }

  h2 {
    @apply text-h3 md:text-h2;
  }

  h3 {
    @apply text-h4 md:text-h3;
  }

  h4 {
    @apply text-lg md:text-h4;
  }

  h5 {
    @apply text-base md:text-lg;
  }

  b {
    @apply font-bold;
  }
}

@utility py-container {
  @apply py-10 md:py-16;
}

@utility px-container {
  @apply w-[min(1280px,100%-2rem)] mx-auto;
}

@utility toast {
  @apply fixed z-[9999] bg-gray-800 text-white px-5 py-4 shadow-md text-base opacity-0 translate-y-5 animate-[fadeInUp_0.2s_ease-out_forwards];
}

@utility toast-success {
  @apply bg-green-700;
}

@utility toast-error {
  @apply bg-red-700;
}
